body {
  font-family: Arial;
}

.column-1 {
  background-color: yellow;
  float: left;
  width: 45%;
  padding: 10px;
}

.column-2 {
  background-color: purple;
  float: right;
  width: 45%;
  padding: 10px;
}

footer {
  clear: both;
  background-image: url("https://assets-cdn.github.com/images/modules/logos_page/Octocat.png");
  padding: 200px;
}