.octopus-wrapper {
	position: relative;
}

.octopus {
	margin: 85px 300px;
	position: absolute;
}

.glasses {
	position: absolute;
	margin: 184px 341px;
	z-index: 101;
}

.hat {
	position: absolute;
	margin: 23px 283px;
	z-index: 100;
}